<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="AmazingTodoContext"
         connectionString="Server=c46f8446-5004-4ec8-8b03-a50c003d51a4.sqlserver.sequelizer.com;Database=dbc46f844650044ec88b03a50c003d51a4;User ID=qmkweepegdcwwzbv;Password=uXaAerUbnQTHAFFrvPPA2SBrfo8gHJswGhd8TiKuSwPAycRRKWEmqJ8KvRvYrMAK;" />
  </connectionStrings>
</configuration>